<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="puzzleleaf.tistory.com.teamclinic">
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Splash.Splash" android:screenOrientation="portrait"/>
        <activity android:name=".Review.Review" android:screenOrientation="portrait"/>
        <activity android:name=".Story.Story" android:screenOrientation="portrait"/>
        <activity android:name=".Story.zero.chapter_zero" android:screenOrientation="portrait"/>
        <activity android:name=".Story.first.chapter_first" android:screenOrientation="portrait"/>
        <activity android:name=".Story.second.chapter_sec" android:screenOrientation="portrait"/>
        <activity android:name=".Story.first.contents.chapter_contents" android:screenOrientation="portrait"/>
        <activity android:name=".Story.Vr_Info" android:screenOrientation="portrait"/>

        <activity android:name=".Unity.UnityPlayerActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection"
            android:process=":unityplayer">
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="com.google.intent.category.CARDBOARD" />
        </activity>
        <activity android:name=".MainActivity"/>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />

</manifest>